/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:400,700&display=swap');*/

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;             /*Verdana, Geneva, Tahoma, sans-serif;*/
}

:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body, form{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
}

.container{
    width: 700px;
    max-width: 40%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 8px ;
    box-shadow: 0 0 10px 2px;
    font-size: 1.6rem;
}

#counter{
    color: hsl(var(--hue), 100%, 40%);
    font-weight: 550;
    font-size: 1.6rem;
    margin-top: 2px;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(82, 81, 81, 0.8);
    padding-bottom: 2px;
}

.time{
    background: hsl(var(--hue), 100%, 40%);
    border: 3px solid hsl(var(--hue), 100%, 33%);
    border-radius: 15px 15px;
    position: relative;
    bottom: 1px;
    color: white;
    font-weight: 550;
    font-size: 1.5rem;
    padding-left: 10px;
    cursor: context-menu;
    /*opacity: 0;*/
}

#timer{
    margin: 10px;
}

#question{
    font-weight:540;
    font-size: 2rem;
}

.btn-grid{
    display: grid;
    gap: 7px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    font-size: 1.5rem;
    border: 3.5px solid hsl(var(--hue), 100%, 33%);
    background-color: hsl(var(--hue), 100%, 40%);
    border-radius: 5px;
    color:antiquewhite;
    outline: none;
}

.btn:hover{
    border-color:black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong{
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn, .result-btn{
    margin: 5px;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}